.place__row {
  display: flex;
  gap: 4.065%;
}

@media screen and (min-width: 321px) and (max-width: 478px) {
  .place__row {
   display: flex;
   flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .place__row {
   display: flex;
   flex-direction: column;
  }
}
