.place__paragraph-item {
  margin-bottom: 26px;
  margin-top: 0;
}

.place__paragraph-item:last-child {
  margin-bottom: 0;
}


@media screen and (min-width: 321px) and (max-width: 768px) {
  .place__paragraph-item {
    margin-bottom: 25px;
    margin-top: 0;
  }

  .place__paragraph-item:last-child {
    margin-bottom: 0;
  }
  }


  @media screen and (max-width: 320px) {
    .place__paragraph-item {
      margin-bottom: 25px;
    }

    .place__paragraph-item:last-of-type {
      margin-bottom: 0;
    }
  }
