.lead__title {
 line-height: 103%;
 font-size: 96px;
 font-weight: 900;
 margin: 56px auto 32px auto;
 text-align: center;
 font-family: Inter;
 width: min-content;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 32px auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__title  {
    margin: 48px auto 32px auto;
    font-size: 11vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__title  {
    margin: 48px auto 16px auto;
    line-height: 44px;
    font-size: 40px;
    font-weight: 900;
  }
}

@media screen and (max-width: 480px) {
.lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 16px;
  }
}
