.place__block {
  margin-bottom: 80px;
}

@media screen and (min-width: 479px) and (max-width: 768px) {
  .place__block {
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 321px) and (max-width: 478px) {
  .place__block {
   display: flex;
   flex-direction: column;
   margin-bottom: 62px;

  }
}

@media screen and (max-width: 320px) {
  .place__block {
   display: flex;
   flex-direction: column;
   margin-bottom: 62px;
  }
}
