.place {
  padding: 0 48px;
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .place {
      margin-bottom: 90px;
      padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .place {
      margin-bottom: 64px;
      padding: 0;
  }
}

