.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 24px;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .footer {
     width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 545px) and (max-width: 769px) {
  .footer {
      flex-wrap: wrap;
      margin: 0 24px 0;
      width: auto;
  }
}

@media screen and (max-width: 544px) {
  .footer {
      padding: 0 0 24px;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: start;
      margin-left: 16px;
  }
}

