.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 24px;
  max-width: 1184px;
  width: calc(100% - 2*48px);
  margin: 0 auto;
}


@media screen and (min-width: 545px) and (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 321px) and (max-width: 544px) {
  .footer {
    padding: 0 0 24px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0 0 24px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    margin-left: 16px;
  }
}
